<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaPersonalBeta"
        tools:targetApi="31">

        <service android:name=".Controlador.Evento.NotificationService" />
        <activity
            android:name=".Controlador.Egreso.EgresoMostrar"
            android:exported="false" />
        <activity
            android:name=".Controlador.Ingreso.IngresoMostrar"
            android:exported="false" />
        <activity
            android:name=".Controlador.Prestamo.PrestamoMostrar"
            android:exported="false" />
        <activity
            android:name=".Controlador.Evento.EventoMostrar"
            android:exported="false" />
        <activity
            android:name=".Controlador.Categoria.CategoriaMostrar"
            android:exported="false" />
        <activity
            android:name=".Controlador.Contacto.ContactoMostar"
            android:exported="false" />
        <activity
            android:name=".Controlador.Categoria.Categoria"
            android:exported="false" />
        <activity
            android:name=".Controlador.Egreso.Egreso"
            android:exported="false" />
        <activity
            android:name=".Controlador.Ingreso.Ingreso"
            android:exported="false" />
        <activity
            android:name=".Controlador.Prestamo.Prestamo"
            android:exported="false" />
        <activity
            android:name=".Controlador.Evento.Evento"
            android:exported="false" />
        <activity
            android:name=".Controlador.Contacto.Contacto"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>